body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/* navbar style */
.button-primary{
    width: 133px;
    height: 40px;
    background-color:#0D28A6;
    color : var(--pr--color);
    padding-left:8rem;
    border: none;
    font-size: 16px; 
}
.navbar-brand{
    background-color: blue;
    font-weight: 700;
    font-size: 20px;
}
.nav-link-active{
    font-weight:700;
    background-color: #0D28A6;
}

.button-success{
    width: 133px;
    height: 40px;
    background-color:#5CB85F;
    color : var(--suceess-color);
    border: none;
    font-size: 16px; 
    font-weight: 700; 
}
:root{
    --suceess-color : #FFFFFF;
    font-weight: 700;
    --pr--color :#0D28A6;
    --success-lg-color :#5CB85F;
}
.button-biru{
    width: 100px;
    height: 34px;
    background-color: #0D28A6;
    color :#0D28A6; 
    border: none;
    /* margin-left: 8%; */
}
.list-satu{
    display: flex;
    margin-left:auto;
    gap:20px;
    align-items: center;
   
}
.list-satu a{
    text-decoration: none;
    color: #000000;
}
.button-register{
    width: 100px;
    height: 34px;
    background-color: #5CB85F;
    color: #FFFFFF;
    border: none;

}
.hero{
    width: 100%;
    display: flex;
    background-color:#F1F3FF;
    padding-top:0px;
}
.hero-left{
    width: 50%;
    height: 17rem;
    margin-left: 8rem;
    /* padding-right: 8rem; */
    /* padding-left: 70px; */
    margin-top: 8rem ;
    /* margin-left: 10%; */
    /* padding-left: 60px; */

}
.hero-left h1{
    /* width: 75%;
    padding-left: 30%; */
    /* padding-left: 70px; */
    /* margin-left: 40px;  */
}
.hero-left p{
    /* width: 80%; */
    /* padding-left: 70px; */
    /* padding-left: 30%; */
    /* margin-left: 10%;  */

    
}
.btn_hero{
    width: auto;
    height: 36px;
    background-color:#5CB85F;
    display: block;
    border: none;
    font-weight: bold;
    color: white;

    /* padding-left: 70px; */
    /* padding-left: 30%; */
    /* margin-left: 10%; */
}
.hero-right{
    width: 50%;
    padding-top: 0px;
}
.img-mobil{
    margin-top: 70px;
}
.Our-service{
    width: 100%;
    height: 25rem;
    display: flex;
    background-color: #FFFFFF;
    padding-top: 50px;
}
.Our-left{
    width: 50%;
    height: 25rem;
    margin-left: 8rem;
    background-color: #FFFFFF;
}
.Our-right{
    width: 50%;
    height: 17rem;
    margin-left: 8rem;
    background-color: #FFFFFF ;

}
.img-wanita{
    margin-left: 12rem;
}
.Our-list input[type="checkbox"]{
    position: relative;
    height: 24px;
    width: 24px;
    border-radius: 50px;
    background: #CFD4ED;
    border: 1px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.Our-list p{
    display: flex;
    align-items: center;
    gap: 10px; 
}
.Our-list input[type="checkbox"]:checked:after {
    content : url(../img/fi_check.png);
    
}
.Box_teks{
    padding-left: 320px;
    margin-top: 15%;
}
.Box_image{
    display: flex;
    gap: 16px;
    justify-content: center;
}
.Box_{
    width:268px;
    height:196px;
    border: 1px;
    padding: 24px;
    padding-bottom: 2px;
    margin-left: 20px;
    border-radius: 8px;
    background-color:#D0D0D0;
    ;    

}
/* why us */
.card{
    width:268px;
    height:196px;
    border: 300px;
    padding: 24px;
    padding-bottom: 2px;
    margin-left: 20px;
    border-radius: 8px;
    background-color:#D0D0D0;
}
.card-body h4{
    font-size: 16px;
    font-weight: 700;
}

 /* sewa mobil */
.card-sewa{
    width: 1168px;
    height: 326px;
    border: 12%;
    border-radius: 13px;
    background-color: #0D28A6;
    margin-top: 3rem;
    font-family: helvetica;

    
}
.card-sewa h1{
    width: 613px;
    height: 54px;
    padding-top: 50px; 
    padding-bottom: 50px;
    font-size: 36px;
    text-align: center;
    
    
}
.card-sewa p{
    width: 468px;
    height: 40px;
    font-size: 14px;
    text-align: center;
    
} 
/* block 6 */
.block6 {
    margin-top: 100rem;
    /* background-color: #0D28A6; */
    display: flex;
    height: 380px;
    margin: 0px 8rem;
    /* width: 100%; */
    padding-top: 5%;
    font-family: helvetica;
}

.block6 .section-kiri {
    /* background-color: green; */
    width: 45%;
}

.block6 .section-kanan {
    /* background-color: palevioletred; */
    width: 55%;
}

.accordion-item {
    border-radius: 4px !important;
    border: #D4D4D4 1px solid !important;
}

/* footer */
.block-footer {
    height: 128px;
    /* background-color: #0D28A6; */
    display: flex;
    /* width: 100%; */
    font-family: helvetica;
    justify-content: space-between;
    margin-top: 20rem;

}

.block-footer .box-1 {
    width: 268px;
    height: 112px;
    /* background-color: green; */
}

.block-footer .box-2 {
    width: auto;
    /* background-color: orange; */
}

.block-footer .box-3 {
    width: 268px;
    /* background-color: purple; */
}

.block-footer .box-4 {
    width: 268px;


}

.box-btn-footer {
    gap: 16px;
}

.btn-footer {
    border-radius: 50%;
    width: 32px;
    height: 32px;

}
.btn_biru{
    width: 100px;
    height: 34px;
    background-color: #0D28A6;
    color :#0D28A6; 
    border: none;
}

